@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Hakkımda</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Hakkımda Listesi</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Hakkımda ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                        </p>
                        <table class="table table-striped mt-3">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Alt Açıklamalar</th>
                                    <th scope="col">Detaylar</th>
                                    <th scope="col" class="text-center">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.AbouthId</td>
                                        <td>@item.Title</td>
                                        <td>
                                            @if (item.SubDescription.Length >= 13)
                                            {
                                                @(item.SubDescription.Substring(0, 13) + "...")
                                            }
                                            else
                                            {
                                                @item.SubDescription
                                            }
                                        </td>
                                        <td>
                                            @if (item.Detail.Length >= 50)
                                            {
                                                @(item.Detail.Substring(0, 50) + "...")
                                            }
                                            else
                                            {
                                                @item.Detail
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a href="/About/DeleteAbout/@item.AbouthId" class="btn btn-outline-danger btn-sm" title="Sil">
                                                <i class="fas fa-trash-alt"> Sil</i>
                                            </a>
                                            <a href="/About/UpdateAbout/@item.AbouthId" class="btn btn-outline-success btn-sm ml-2" title="Güncelle">
                                                <i class="fas fa-edit"> Güncelle</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-right">
                            <a href="/About/CreateAbout/" class="btn btn-info btn-lg mt-3">
                                <i class="fas fa-plus-circle"></i> Yeni Hakkımda Bilgisi Girişi
                            </a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
