@model List<Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Portfolyo</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Portfolyo Bilgileri ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                        </p>
                        <table class="table table-striped mt-3">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Alt Başlık</th>
                                    <th scope="col">Resim URL</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">Açıklamalar</th>
                                    <th scope="col" class="text-center">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.PortfolioId</td>
                                        <td>@item.Title</td>
                                        <td>
                                            @if (item.SubTitle.Length >= 13)
                                            {
                                                @(item.SubTitle.Substring(0, 13) + "...")
                                            }
                                            else
                                            {
                                                @item.SubTitle
                                            }
                                        </td>
                                        <td>@item.ImageUrl</td>
                                        <td>@item.Url</td>
                                        <td>@item.Description</td>
                                        <td class="text-center">
                                            <a href="/Portfolio/UpdatePortfolio/@item.PortfolioId" class="btn btn-outline-success btn-sm ml-2" title="Güncelle">
                                                <i class="fas fa-edit">Güncelle</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>


                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

